<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rockapp.mapper.BaseLithologyRecognitionResultMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rockapp.entity.BaseLithologyRecognitionResultEntity" id="baseLithologyRecognitionResultMap">
        <result property="fId" column="f_id"/>
        <result property="fClassName" column="f_class_name"/>
        <result property="fModelId" column="f_class_id"/>
        <result property="fClassConfidence" column="f_class_confidence"/>
        <result property="fScene" column="f_scene"/>
        <result property="fProvinces" column="f_provinces"/>
        <result property="fCities" column="f_cities"/>
        <result property="fDistrictsCounties" column="f_districts_counties"/>
        <result property="fDetailedLocation" column="f_detailed_location"/>
        <result property="fMileageCode" column="f_mileage_code"/>
        <result property="fMileageMin" column="f_mileage_min"/>
        <result property="fMileageMax" column="f_mileage_max"/>
        <result property="fElevation" column="f_elevation"/>
        <result property="fLongitude" column="f_longitude"/>
        <result property="fLatitude" column="f_latitude"/>
        <result property="fCreateUserId" column="f_create_user_id"/>
        <result property="fCreateUserName" column="f_create_user_name"/>
        <result property="fCreateTime" column="f_create_time"/>
        <result property="fLastModifyTime" column="f_last_modify_time"/>
        <result property="fImageUrl" column="f_image_url"/>
        <result property="fModelVersion" column="f_model_version"/>
        <result property="fProjectSectionId" column="f_project_section_id"/>
        <result property="fSectionId" column="f_section_Id"/>
        <result property="fRemarkInformation" column="f_remark_information"/>
        <result property="fFeedbackInformation" column="f_feedback_information"/>
    </resultMap>

    <select id="getResult" resultType="com.rockapp.dto.BaseLithologyRecognitionResultDto">
        select *
        from base_lithology_recognition_result
        <where>
            f_is_delete = '0'
            <if test="recognitionresult.fIsAll != null">
                and f_create_user_id = #{recognitionresult.fUserId}
            </if>
            <if test="recognitionresult.fProjectSectionId != null and recognitionresult.fProjectSectionId != ''">
                and f_project_section_id = #{recognitionresult.fProjectSectionId}
            </if>
            <if test="recognitionresult.fSectionId != null and recognitionresult.fSectionId != ''">
                and f_section_Id = #{recognitionresult.fSectionId}
            </if>
            <if test="recognitionresult.fProjectSectionId != null and recognitionresult.fProjectSectionId != ''">
                and f_project_section_id = #{recognitionresult.fProjectSectionId}
            </if>
            <if test="recognitionresult.fSectionId != null and recognitionresult.fSectionId != ''">
                and f_section_Id = #{recognitionresult.fSectionId}
            </if>
            <if test="recognitionresult.fDetailedLocation != null and recognitionresult.fDetailedLocation != ''">
                and f_detailed_location = #{recognitionresult.fDetailedLocation}
            </if>
            <if test="recognitionresult.timeStart != null">
                and f_create_time >= #{recognitionresult.timeStart}
            </if>
            <if test="recognitionresult.timeEnd != null">
                and f_create_time &lt;= #{recognitionresult.timeEnd}
            </if>
            <if test="recognitionresult.fClassName != null and recognitionresult.fClassName != ''">
                and f_class_name = #{recognitionresult.fClassName}
            </if>
            <if test="recognitionresult.fScene != null and recognitionresult.fScene != ''">
                and f_scene = #{recognitionresult.fScene}
            </if>
            <if test="recognitionresult.fMileageMinStart != null">
                and f_mileage_min >= #{recognitionresult.fMileageMinStart}
            </if>
            <if test="recognitionresult.fMileageMinEnd != null">
                and f_mileage_min &lt;= #{recognitionresult.fMileageMinEnd}
            </if>
            <if test="recognitionresult.fMileageMaxStart != null">
                and f_mileage_max >= #{recognitionresult.fMileageMaxStart}
            </if>
            <if test="recognitionresult.fMileageMaxEnd != null">
                and f_mileage_max &lt;= #{recognitionresult.fMileageMaxEnd}
            </if>
            <if test="recognitionresult.fElevationStart != null">
                and f_elevation >= #{recognitionresult.fElevationStart}
            </if>
            <if test="recognitionresult.fElevationEnd != null">
                and f_elevation &lt;= #{recognitionresult.fElevationEnd}
            </if>

            <if test="recognitionresult.fLongitudeStart != null">
                and f_longitude >= #{recognitionresult.fLongitudeStart}
            </if>
            <if test="recognitionresult.fLongitudeEnd != null">
                and f_longitude &lt;= #{recognitionresult.fLongitudeEnd}
            </if>

            <if test="recognitionresult.fLatitudeStart != null">
                and f_latitude >= #{recognitionresult.fLatitudeStart}
            </if>
            <if test="recognitionresult.fLatitudeEnd != null">
                and f_latitude &lt;= #{recognitionresult.fLatitudeEnd}
            </if>
            <if test="recognitionresult.fProvinces != null and recognitionresult.fProvinces != ''">
                and f_provinces = #{recognitionresult.fProvinces}
            </if>
            <if test="recognitionresult.fCities != null and recognitionresult.fCities != ''">
                and f_cities = #{recognitionresult.fCities}
            </if>
            <if test="recognitionresult.fDistrictsCounties != null and recognitionresult.fDistrictsCounties != ''">
                and f_districts_counties = #{recognitionresult.fDistrictsCounties}
            </if>
        </where>
    </select>

    <select id="getResultNew" resultType="com.rockapp.dto.BaseLithologyRecognitionResultDto">
        select *
        from base_lithology_recognition_result
        <where>
            f_is_delete = '0'
            and (f_project_section_id= #{fId} or f_section_Id = #{fId})
            and f_identify_date = #{record}
            <if test="recognitionresult.fIsAll == 1">
                and f_create_user_id = #{recognitionresult.fUserId}
            </if>
            <if test="recognitionresult.fDetailedLocation != null and recognitionresult.fDetailedLocation != ''">
                and f_detailed_location like concat('%',#{recognitionresult.fDetailedLocation},'%')
            </if>
<!--            <if test="recognitionresult.fClassName != null and recognitionresult.fClassName != ''">-->
<!--                and f_class_name like concat('%',#{recognitionresult.fClassName},'%')-->
<!--            </if>-->
            <if test="recognitionresult.fClassName != null and recognitionresult.fClassName != ''">
                and (
                <foreach item="item" index="index" collection="recognitionresult.fClassName.split(',')" separator="or">
                    f_class_name = trim(#{item})
                </foreach>
                )
            </if>
            <if test="recognitionresult.fScene != null and recognitionresult.fScene != ''">
                and f_scene = #{recognitionresult.fScene}
            </if>
            <if test="recognitionresult.fMileageMinStart != null and recognitionresult.fMileageMinStart != 0">
                and f_mileage_min >= #{recognitionresult.fMileageMinStart}
            </if>
            <if test="recognitionresult.fMileageMinEnd != null and recognitionresult.fMileageMinEnd != 0">
                and f_mileage_min &lt;= #{recognitionresult.fMileageMinEnd}
            </if>
            <if test="recognitionresult.fMileageMaxStart != null and recognitionresult.fMileageMaxStart != 0">
                and f_mileage_max >= #{recognitionresult.fMileageMaxStart}
            </if>
            <if test="recognitionresult.fMileageMaxEnd != null and recognitionresult.fMileageMaxEnd != 0">
                and f_mileage_max &lt;= #{recognitionresult.fMileageMaxEnd}
            </if>
            <if test="recognitionresult.fElevationStart != null and recognitionresult.fElevationStart != 0">
                and f_elevation >= #{recognitionresult.fElevationStart}
            </if>
            <if test="recognitionresult.fElevationEnd != null and recognitionresult.fElevationEnd != 0">
                and f_elevation &lt;= #{recognitionresult.fElevationEnd}
            </if>

            <if test="recognitionresult.fLongitudeStart != null and recognitionresult.fLongitudeStart != 0">
                and f_longitude >= #{recognitionresult.fLongitudeStart}
            </if>
            <if test="recognitionresult.fLongitudeEnd != null and recognitionresult.fLongitudeEnd != 0">
                and f_longitude &lt;= #{recognitionresult.fLongitudeEnd}
            </if>

            <if test="recognitionresult.fLatitudeStart != null">
                and f_latitude >= #{recognitionresult.fLatitudeStart}
            </if>
            <if test="recognitionresult.fLatitudeEnd != null">
                and f_latitude &lt;= #{recognitionresult.fLatitudeEnd}
            </if>
            <if test="recognitionresult.fProvinces != null and recognitionresult.fProvinces != ''">
                and f_provinces = #{recognitionresult.fProvinces}
            </if>
            <if test="recognitionresult.fCities != null and recognitionresult.fCities != ''">
                and f_cities = #{recognitionresult.fCities}
            </if>
            <if test="recognitionresult.fDistrictsCounties != null and recognitionresult.fDistrictsCounties != ''">
                and f_districts_counties = #{recognitionresult.fDistrictsCounties}
            </if>
            order by f_identify_date desc
        </where>
    </select>


    <select id="getFIdentifyDateList" resultType="string">
        SELECT
            blrr.f_identify_date
        FROM
            base_lithology_recognition_result blrr
        WHERE
            blrr.f_is_delete = 0
          and
            (blrr.f_project_section_id= #{fId} or blrr.f_section_Id = #{fId})
        group by blrr.f_identify_date
    </select>


    <select id="getFIdentifyDateListNew" resultType="string">
        SELECT
            blrr.f_identify_date
        FROM
            base_lithology_recognition_result blrr
        WHERE
            blrr.f_is_delete = 0
          and
            (blrr.f_project_section_id= #{fId} or blrr.f_section_Id = #{fId})
        <if test="recognitionresult.timeStart != null">
            and blrr.f_identify_date >= #{recognitionresult.timeStart}
        </if>
        <if test="recognitionresult.timeEnd != null">
            and blrr.f_identify_date &lt;= #{recognitionresult.timeEnd}
        </if>
        group by blrr.f_identify_date
        order by blrr.f_identify_date desc
    </select>


</mapper>