<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rockapp.mapper.BaseFileUploadDetailMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rockapp.entity.BaseFileUploadDetailEntity" id="baseFileUploadDetailMap">
        <result property="fId" column="f_id"/>
        <result property="fUsername" column="f_username"/>
        <result property="fileName" column="file_name"/>
        <result property="fMd5" column="f_md5"/>
        <result property="fIsUploaded" column="f_is_uploaded"/>
        <result property="fHasBeenUploaded" column="f_has_been_uploaded"/>
        <result property="fUrl" column="f_url"/>
        <result property="fCreateTime" column="f_create_time"/>
        <result property="fUpdateTime" column="f_update_time"/>
        <result property="fTotalChunks" column="f_total_chunks"/>
    </resultMap>


</mapper>