<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rockapp.mapper.BaseVersionHistoryMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rockapp.entity.BaseVersionHistoryEntity" id="baseVersionHistoryMap">
        <result property="fId" column="f_id"/>
        <result property="fVersionCode" column="f_version_code"/>
        <result property="fVersionName" column="f_version_name"/>
        <result property="fVersionContenet" column="f_version_contenet"/>
        <result property="fCreateUserId" column="f_create_user_id"/>
        <result property="fCreateUserName" column="f_create_user_name"/>
        <result property="fCreateTime" column="f_create_time"/>
        <result property="fLastModifyUserId" column="f_last_modify_user_id"/>
        <result property="fLastModifyUserName" column="f_last_modify_user_name"/>
        <result property="fLastModifyTime" column="f_last_modify_time"/>
        <result property="fIsDelete" column="f_is_delete"/>
    </resultMap>


</mapper>