<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.interviewer.mapper.BaseUserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.interviewer.entity.BaseUserEntity" id="baseUserMap">
        <result property="id" column="f_id"/>
        <result property="role" column="f_role"/>
        <result property="password" column="f_password"/>
        <result property="studentNumber" column="f_student_number"/>
        <result property="userName" column="f_user_name"/>
        <result property="gender" column="f_gender"/>
        <result property="mail" column="f_mail"/>
        <result property="phone" column="f_phone"/>
        <result property="birthDate" column="f_birth_date"/>
        <result property="educationType" column="f_education_type"/>
        <result property="educationLevel" column="f_education_level"/>
        <result property="school" column="f_school"/>
        <result property="college" column="f_college"/>
        <result property="major" column="f_major"/>
        <result property="startDate" column="f_start_date"/>
        <result property="endDate" column="f_end_date"/>
        <result property="expectedCountryCity" column="f_expected_country_city"/>
        <result property="expectedPosition" column="f_expected_position"/>
        <result property="expectedSalary" column="f_expected_salary"/>
        <result property="expectedIndustry" column="f_expected_industry"/>
        <result property="interests" column="f_interests"/>
        <result property="headPortrait" column="f_head_portrait"/>
        <result property="salt" column="f_salt"/>
        <result property="createUserName" column="f_create_user_name"/>
        <result property="createTime" column="f_create_time"/>
        <result property="lastModifyUserName" column="f_last_modify_user_name"/>
        <result property="lastModifyTime" column="f_last_modify_time"/>
        <result property="isDelete" column="f_is_delete"/>
    </resultMap>


</mapper>